/**
 * Heroslider
 */

.heroslider {

    &-area {
        position: relative;
        overflow: hidden;
    }

    &-slider {
        ul.slick-dots {
            bottom: 30px;
            z-index: 2;
        }
    }

    &-singleslider {
        background-attachment: scroll;
        background-size: cover;
        background-position: center right;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
    }

    &-contentwrapper {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        z-index: 1;
    }

    &-overlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: url(../images/heroslider/heroslider-shape.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        z-index: -1;
        background-size: cover;
        opacity: 0.9;
    }

    &-overlay2 {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: url(../images/heroslider/heroslider-shape-2.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        z-index: -1;
        background-size: cover;
        opacity: 0.9;
    }

    &-content {
        position: relative;
        z-index: 1;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 30px;
        transition: all 0.1s ease-in-out 0s;

        h1 {
            margin-top: -10px;
            font-size: 60px;
            line-height: 65px;
            font-weight: 700;
            color: #000000;
        }

        p {
            font-size: 18px;
            line-height: 30px;
            color: #000000;
            margin-top: 30px;
        }

        .tm-button {
            margin-top: 28px;
        }

        &-white {
            h1 {
                color: #ffffff;
            }

            p {
                color: #ffffff;
            }
        }

        &.text-center{
            padding-right: 0;
        }
    }


    @media #{$layout-laptop} {
        &-singleslider {
            background-position: 65% center;
        }
    }

    @media #{$layout-notebook} {
        &-singleslider {
            background-position: 65% center;
        }

        &-content {
            h1 {
                font-size: 48px;
                line-height: 52px;
            }

            p {
                margin-top: 20px;
            }

            .tm-button {
                margin-top: 20px;
            }
        }
    }

    @media #{$layout-tablet} {
        &-content {
            padding-right: 0;
            
            h1 {
                font-size: 36px;
                line-height: 40px;
            }

            p {
                font-size: 16px;
                line-height: 26px;
                margin-top: 15px;
            }

            .tm-button {
                margin-top: 15px;
            }
        }

        &-overlay {
            background: rgba(255, 255, 255, 0.9);
        }

        &-overlay2 {
            background: rgba(255, 255, 255, 0.9);
        }
    }

    @media #{$layout-mobile-lg} {
        &-slider {
            ul.slick-dots {
                max-width: 510px;
            }
        }

        &-content {
            padding-right: 0;

            h1 {
                font-size: 36px;
                line-height: 40px;
            }

            p {
                font-size: 16px;
                line-height: 26px;
                margin-top: 15px;
            }

            .tm-button {
                margin-top: 15px;
            }
        }

        &-overlay {
            background: rgba(255, 255, 255, 0.9);
        }

        &-overlay2 {
            background: rgba(255, 255, 255, 0.9);
        }

        &-singleslider {
            min-height: 380px !important;
        }
    }

    @media #{$layout-mobile-sm} {
        &-slider {
            ul.slick-dots {
                bottom: 20px;
                max-width: 480px;
                padding: 0 15px;
            }
        }

        &-content {
            h1 {
                font-size: 28px;
                line-height: 32px;
            }

            p {
                margin-top: 15px;
                font-size: 14px;
            }

            .tm-button {
                margin-top: 15px;
            }
        }
    }
}

.tm-hero_4 {
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media #{$layout-notebook} {
    .heroslider-slider-2.tm-slider-arrow {

        .tm-slider-arrow-prev,
        .tm-slider-arrow-next {
            top: auto;
            bottom: 30px;
        }

        .tm-slider-arrow-prev {
            left: auto;
            right: calc(50% + 10px);
        }

        .tm-slider-arrow-next {
            right: auto;
            left: calc(50% + 10px);
        }
    }
    .tm-hero_4 {
        min-height: initial;
    }
    
}

@media #{$layout-tablet} {
    .heroslider-slider-2.tm-slider-arrow {

        .tm-slider-arrow-prev,
        .tm-slider-arrow-next {
            top: auto;
            bottom: 30px;
        }

        .tm-slider-arrow-prev {
            left: auto;
            right: calc(50% + 10px);
        }

        .tm-slider-arrow-next {
            right: auto;
            left: calc(50% + 10px);
        }
    }
    .tm-hero_4 {
        min-height: initial;
    }
}

@media #{$layout-mobile-lg} {
    .heroslider-slider-2.tm-slider-arrow {

        .tm-slider-arrow-prev,
        .tm-slider-arrow-next {
            top: auto;
            bottom: 20px;
        }

        .tm-slider-arrow-prev {
            left: auto;
            right: calc(50% + 10px);
        }

        .tm-slider-arrow-next {
            right: auto;
            left: calc(50% + 10px);
        }
    }
    .tm-hero_4 {
        min-height: initial;
    }
}


/* Animated Heroslider */
.heroslider-animated-content {
    .heroslider-content {
        h1 {
            opacity: 0;
        }

        p {
            opacity: 0;
        }

        .tm-button {
            opacity: 0;
        }
    }

    .slick-current {
        .heroslider-content {
            h1 {
                animation: fadeInUp 0.6s ease-in-out 0.3s 1 normal backwards;
                opacity: 1;
            }

            p {
                animation: fadeInUp 0.6s ease-in-out 0.6s 1 normal backwards;
                opacity: 1;
            }

            .tm-button {
                animation: fadeInUp 0.6s ease-in-out 0.9s 1 normal backwards;
                opacity: 1;
            }
        }
    }
}

/* Animateimage */
.heroslider-singleslider{
    .heroslider-animateimage{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        
        img{
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform-origin: center center;
            animation: tmAnimatedBg 10s ease-out 0s infinite both;
        }
    }
}


/* Particle Heroslider */
.heroslider-particle {
    .particles-js {
        width: 100vw;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 3;
        top: 0;
        left: 0;
    }

    .container {
        z-index: 4;
    }
}