/**
 * Team Member
 */

.tm-member {
    &-top {
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: rgba(#000000, 0.4);
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease-in-out 0.1s;
        }

        img {
            width: 100%;
        }
    }

    &-social {
        position: absolute;
        left: 0;
        top: auto;
        bottom: 0;
        width: 100%;
        height: auto;
        text-align: center;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transform: translateY(100%);
        transition: all 0.3s ease-in-out 0.1s;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-style: solid;
            border-width: 0 35px 60px 35px;
            border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
            z-index: -1;
        }

        ul {
            padding-left: 0;
            margin-bottom: 0;

            li {
                list-style: none;
                margin: 0 15px;
                display: inline-block;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-size: 18px;
                    color: #ffffff;

                    &:hover {
                        color: $color-theme;
                    }
                }
            }
        }
    }

    &-bottom {
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 30px 15px;

        h5 {
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    &:hover &-top{
        &::before{
            visibility: visible;
            opacity: 1;
        }
    }

    &:hover &-social {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    &.tm-type1 {
        .tm-member-bottom {
            box-shadow: none;
            padding: 20px 15px 0;
        }
        
    }

    @media #{$layout-notebook}{
        &-social{
            ul{
                li{
                    margin: 0 10px;
                }
            }
        }
        &-bottom{
            padding: 15px;
        }
    }

    @media #{$layout-mobile-lg}{
        &-social{
            ul{
                li{
                    margin: 0 10px;
                }
            }
        }
        &-bottom{
            padding: 15px;
        }
    }
}