{
  "name": "app",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/scss/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/scss/style.scss",
      "imports": [
        "assets/scss/_variables.scss",
        "assets/scss/_mixins.scss",
        "assets/scss/basic/_reset.scss",
        "assets/scss/basic/_animations.scss",
        "assets/scss/basic/_typography.scss",
        "assets/scss/basic/_utilities.scss",
        "assets/scss/elements/_button.scss",
        "assets/scss/elements/_titles.scss",
        "assets/scss/elements/_slider-elements.scss",
        "assets/scss/elements/_tab.scss",
        "assets/scss/elements/_selectbox.scss",
        "assets/scss/elements/_breadcrumb.scss",
        "assets/scss/elements/_pagination.scss",
        "assets/scss/elements/_comment.scss",
        "assets/scss/elements/_form.scss",
        "assets/scss/sections/_header.scss",
        "assets/scss/sections/_nav.scss",
        "assets/scss/sections/_heroslider.scss",
        "assets/scss/sections/_about.scss",
        "assets/scss/sections/_features.scss",
        "assets/scss/sections/_funfact.scss",
        "assets/scss/sections/_services.scss",
        "assets/scss/sections/_testimonial.scss",
        "assets/scss/sections/_cta.scss",
        "assets/scss/sections/_product.scss",
        "assets/scss/sections/_promo.scss",
        "assets/scss/sections/_blog.scss",
        "assets/scss/sections/_brandlogo.scss",
        "assets/scss/sections/_whychoose.scss",
        "assets/scss/sections/_team.scss",
        "assets/scss/sections/_faq.scss",
        "assets/scss/sections/_pricebox.scss",
        "assets/scss/sections/_widgets.scss",
        "assets/scss/sections/_portfolio.scss",
        "assets/scss/sections/_contact.scss",
        "assets/scss/sections/_shop.scss",
        "assets/scss/sections/_footer.scss",
        "assets/scss/pages/_product-details.scss",
        "assets/scss/pages/_cart.scss",
        "assets/scss/pages/_checkout.scss",
        "assets/scss/pages/_account.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "json"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 30000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "about-us.html",
        "ctime": "2018-12-02T10:36:20.744Z",
        "mtime": "2018-12-02T10:28:32.091Z",
        "size": 36775
      },
      {
        "file": "assets/css/animate.min.css",
        "ctime": "2018-11-08T08:02:13.897Z",
        "mtime": "2018-11-08T08:02:13.897Z",
        "size": 86243
      },
      {
        "file": "assets/css/bootstrap.min.css",
        "ctime": "2018-11-04T06:01:01.175Z",
        "mtime": "2018-11-04T06:01:01.175Z",
        "size": 140942
      },
      {
        "file": "assets/css/custom.css",
        "ctime": "2018-11-04T06:01:01.175Z",
        "mtime": "2018-11-04T06:01:01.175Z",
        "size": 335
      },
      {
        "file": "assets/css/flaticon.min.css",
        "ctime": "2018-11-15T09:20:37.079Z",
        "mtime": "2018-11-15T09:20:37.079Z",
        "size": 1625
      },
      {
        "file": "assets/css/fontawesome.min.css",
        "ctime": "2018-11-08T05:55:33.253Z",
        "mtime": "2018-11-08T05:55:33.253Z",
        "size": 51187
      },
      {
        "file": "assets/css/lightgallery.min.css",
        "ctime": "2018-11-18T05:02:40.208Z",
        "mtime": "2018-10-16T03:51:06.000Z",
        "size": 20458
      },
      {
        "file": "assets/css/meanmenu.min.css",
        "ctime": "2018-11-08T10:29:02.201Z",
        "mtime": "2015-03-11T20:22:50.000Z",
        "size": 2621
      },
      {
        "file": "assets/css/odometer.min.css",
        "ctime": "2018-11-07T05:20:24.219Z",
        "mtime": "2018-11-07T05:20:24.219Z",
        "size": 2945
      },
      {
        "file": "assets/css/plugins.css",
        "ctime": "2018-11-29T07:36:12.096Z",
        "mtime": "2018-11-29T07:36:12.096Z",
        "size": 632
      },
      {
        "file": "assets/css/slick.min.css",
        "ctime": "2018-11-05T06:10:17.031Z",
        "mtime": "2018-11-05T06:10:17.031Z",
        "size": 5261
      },
      {
        "file": "assets/css/style.css",
        "ctime": "2018-12-02T10:26:20.117Z",
        "mtime": "2018-12-02T10:26:20.117Z",
        "size": 127927
      },
      {
        "file": "assets/css/style.css.map",
        "ctime": "2018-11-29T07:05:42.533Z",
        "mtime": "2018-11-29T07:05:42.533Z",
        "size": 56147
      },
      {
        "file": "assets/fonts/fa-brands-400.eot",
        "ctime": "2018-11-04T07:31:18.706Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 126428
      },
      {
        "file": "assets/fonts/fa-brands-400.svg",
        "ctime": "2018-11-04T07:31:18.721Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 713576
      },
      {
        "file": "assets/fonts/fa-brands-400.ttf",
        "ctime": "2018-11-04T07:31:18.737Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 126192
      },
      {
        "file": "assets/fonts/fa-brands-400.woff",
        "ctime": "2018-11-04T07:31:18.753Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 81612
      },
      {
        "file": "assets/fonts/fa-brands-400.woff2",
        "ctime": "2018-11-04T07:31:18.759Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 69608
      },
      {
        "file": "assets/fonts/fa-regular-400.eot",
        "ctime": "2018-11-04T07:31:18.759Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 40460
      },
      {
        "file": "assets/fonts/fa-regular-400.svg",
        "ctime": "2018-11-04T07:31:18.759Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 140249
      },
      {
        "file": "assets/fonts/fa-regular-400.ttf",
        "ctime": "2018-11-04T07:31:18.775Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 40232
      },
      {
        "file": "assets/fonts/fa-regular-400.woff",
        "ctime": "2018-11-04T07:31:18.775Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 18112
      },
      {
        "file": "product-details.html",
        "ctime": "2018-12-02T10:18:08.421Z",
        "mtime": "2018-12-02T10:18:08.421Z",
        "size": 61744
      },
      {
        "file": "assets/fonts/fa-regular-400.woff2",
        "ctime": "2018-11-04T07:31:18.790Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 14844
      },
      {
        "file": "assets/fonts/fa-solid-900.eot",
        "ctime": "2018-11-04T07:31:18.790Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 197172
      },
      {
        "file": "assets/fonts/fa-solid-900.svg",
        "ctime": "2018-11-04T07:31:18.806Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 746673
      },
      {
        "file": "assets/fonts/fa-solid-900.ttf",
        "ctime": "2018-11-04T07:31:18.822Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 196952
      },
      {
        "file": "assets/fonts/fa-solid-900.woff",
        "ctime": "2018-11-04T07:31:18.837Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 95436
      },
      {
        "file": "assets/fonts/fa-solid-900.woff2",
        "ctime": "2018-11-04T07:31:18.837Z",
        "mtime": "2018-11-02T08:49:34.000Z",
        "size": 73852
      },
      {
        "file": "assets/fonts/Flaticon.eot",
        "ctime": "2018-11-15T09:19:47.581Z",
        "mtime": "2018-11-15T07:51:12.000Z",
        "size": 13666
      },
      {
        "file": "assets/fonts/Flaticon.svg",
        "ctime": "2018-11-15T09:19:47.597Z",
        "mtime": "2018-11-15T07:51:12.000Z",
        "size": 87788
      },
      {
        "file": "assets/fonts/Flaticon.ttf",
        "ctime": "2018-11-15T09:19:47.612Z",
        "mtime": "2018-11-15T07:51:12.000Z",
        "size": 13488
      },
      {
        "file": "assets/fonts/Flaticon.woff",
        "ctime": "2018-11-15T09:19:47.581Z",
        "mtime": "2018-11-15T07:51:12.000Z",
        "size": 8796
      },
      {
        "file": "assets/fonts/lg.eot",
        "ctime": "2018-11-18T04:57:26.954Z",
        "mtime": "2018-10-16T03:51:06.000Z",
        "size": 4024
      },
      {
        "file": "assets/fonts/lg.svg",
        "ctime": "2018-11-18T04:57:26.954Z",
        "mtime": "2018-10-16T03:51:06.000Z",
        "size": 8855
      },
      {
        "file": "assets/fonts/lg.ttf",
        "ctime": "2018-11-18T04:57:26.954Z",
        "mtime": "2018-10-16T03:51:06.000Z",
        "size": 3880
      },
      {
        "file": "assets/fonts/lg.woff",
        "ctime": "2018-11-18T04:57:26.969Z",
        "mtime": "2018-10-16T03:51:06.000Z",
        "size": 3956
      },
      {
        "file": "assets/fonts/slick.eot",
        "ctime": "2018-11-05T05:42:44.126Z",
        "mtime": "2017-10-03T17:49:29.000Z",
        "size": 2048
      },
      {
        "file": "assets/fonts/slick.svg",
        "ctime": "2018-11-05T05:42:44.132Z",
        "mtime": "2017-10-03T17:49:29.000Z",
        "size": 2152
      },
      {
        "file": "assets/fonts/slick.ttf",
        "ctime": "2018-11-05T05:42:44.137Z",
        "mtime": "2017-10-03T17:49:29.000Z",
        "size": 1892
      },
      {
        "file": "assets/fonts/slick.woff",
        "ctime": "2018-11-05T05:42:44.148Z",
        "mtime": "2017-10-03T17:49:29.000Z",
        "size": 1380
      },
      {
        "file": "assets/images/ajax-loader.gif",
        "ctime": "2018-09-18T10:02:18.175Z",
        "mtime": "2018-08-22T13:36:49.000Z",
        "size": 673
      },
      {
        "file": "assets/img/loading.gif",
        "ctime": "2018-11-18T05:26:06.372Z",
        "mtime": "2018-08-22T13:36:49.000Z",
        "size": 673
      },
      {
        "file": "assets/js/bootstrap.min.js",
        "ctime": "2018-11-04T06:01:01.199Z",
        "mtime": "2018-11-04T06:01:01.199Z",
        "size": 51045
      },
      {
        "file": "assets/js/chart-active.js",
        "ctime": "2018-11-12T12:25:37.033Z",
        "mtime": "2018-11-12T12:25:37.033Z",
        "size": 6487
      },
      {
        "file": "assets/js/chart.min.js",
        "ctime": "2018-11-12T10:52:10.838Z",
        "mtime": "2018-11-12T10:52:10.838Z",
        "size": 425455
      },
      {
        "file": "assets/js/google-map.js",
        "ctime": "2018-12-02T10:27:29.928Z",
        "mtime": "2018-12-02T10:27:29.928Z",
        "size": 6090
      },
      {
        "file": "assets/js/jquery.min.js",
        "ctime": "2018-11-04T06:01:01.203Z",
        "mtime": "2018-11-04T06:01:01.203Z",
        "size": 86929
      },
      {
        "file": "assets/js/main.js",
        "ctime": "2018-12-05T05:13:00.452Z",
        "mtime": "2018-12-05T05:13:00.452Z",
        "size": 31633
      },
      {
        "file": "assets/js/modernizr-3.6.0.min.js",
        "ctime": "2018-11-04T06:01:01.205Z",
        "mtime": "2018-11-04T06:01:01.205Z",
        "size": 8638
      },
      {
        "file": "assets/js/plugins.js",
        "ctime": "2018-11-29T10:01:41.975Z",
        "mtime": "2018-11-29T10:01:41.975Z",
        "size": 261372
      },
      {
        "file": "assets/js/popper.min.js",
        "ctime": "2018-11-04T06:01:01.210Z",
        "mtime": "2018-11-04T06:01:01.210Z",
        "size": 20340
      },
      {
        "file": "assets/images/bg/bg-image-1.jpg",
        "ctime": "2018-11-29T06:32:45.204Z",
        "mtime": "2018-11-29T00:32:22.000Z",
        "size": 151050
      },
      {
        "file": "portfolio.html",
        "ctime": "2018-12-02T10:12:13.602Z",
        "mtime": "2018-12-02T10:12:13.602Z",
        "size": 37654
      },
      {
        "file": "assets/images/funfact/funfact-bg.jpg",
        "ctime": "2018-11-29T06:38:39.293Z",
        "mtime": "2018-11-29T00:38:30.000Z",
        "size": 179527
      },
      {
        "file": "assets/images/others/about-image-2.png",
        "ctime": "2018-11-29T06:59:12.383Z",
        "mtime": "2018-11-29T00:58:56.000Z",
        "size": 110958
      },
      {
        "file": "assets/images/product/product-image-10.jpg",
        "ctime": "2018-11-29T07:03:51.353Z",
        "mtime": "2018-11-29T01:03:40.000Z",
        "size": 19139
      },
      {
        "file": "index.html",
        "ctime": "2018-12-02T10:19:32.292Z",
        "mtime": "2018-12-02T10:19:32.292Z",
        "size": 111828
      },
      {
        "file": "assets/css/niceselect.min.css",
        "ctime": "2018-11-19T12:14:42.522Z",
        "mtime": "2018-11-19T12:14:42.522Z",
        "size": 3070
      },
      {
        "file": "shop-4-column.html",
        "ctime": "2018-11-29T10:27:37.665Z",
        "mtime": "2018-11-29T10:27:37.665Z",
        "size": 57322
      },
      {
        "file": "portfolio-details.html",
        "ctime": "2018-11-29T06:26:04.456Z",
        "mtime": "2018-11-29T06:26:04.456Z",
        "size": 27008
      },
      {
        "file": "assets/images/bg/bg-image-2.jpg",
        "ctime": "2018-11-29T06:35:48.682Z",
        "mtime": "2018-11-29T00:35:36.000Z",
        "size": 197622
      },
      {
        "file": "assets/images/bg/breadcrumb-bg-1.jpg",
        "ctime": "2018-11-29T06:32:45.204Z",
        "mtime": "2018-11-29T00:32:22.000Z",
        "size": 130984
      },
      {
        "file": "assets/images/bg/breadcrumb-bg-2.jpg",
        "ctime": "2018-11-29T06:32:45.189Z",
        "mtime": "2018-11-29T00:32:22.000Z",
        "size": 201216
      },
      {
        "file": "assets/images/blog/blog-image-1.jpg",
        "ctime": "2018-11-29T06:38:14.964Z",
        "mtime": "2018-11-29T00:38:06.000Z",
        "size": 44427
      },
      {
        "file": "assets/images/blog/blog-image-2.jpg",
        "ctime": "2018-11-29T06:38:14.964Z",
        "mtime": "2018-11-29T00:38:06.000Z",
        "size": 67508
      },
      {
        "file": "assets/images/blog/blog-image-3.jpg",
        "ctime": "2018-11-29T06:38:14.979Z",
        "mtime": "2018-11-29T00:38:06.000Z",
        "size": 67386
      },
      {
        "file": "assets/images/blog/blog-image-4.jpg",
        "ctime": "2018-11-29T06:38:14.979Z",
        "mtime": "2018-11-29T00:38:06.000Z",
        "size": 69619
      },
      {
        "file": "assets/images/blog/blog-image-5.jpg",
        "ctime": "2018-11-29T06:38:14.995Z",
        "mtime": "2018-11-29T00:38:06.000Z",
        "size": 79750
      },
      {
        "file": "assets/images/blog/blog-image-6.jpg",
        "ctime": "2018-11-29T06:38:14.995Z",
        "mtime": "2018-11-29T00:38:06.000Z",
        "size": 66750
      },
      {
        "file": "assets/images/brand-logo/brand-logo-1.png",
        "ctime": "2018-11-29T07:05:25.324Z",
        "mtime": "2018-11-29T01:05:20.000Z",
        "size": 1893
      },
      {
        "file": "assets/images/brand-logo/brand-logo-2.png",
        "ctime": "2018-11-29T07:05:25.324Z",
        "mtime": "2018-11-29T01:05:20.000Z",
        "size": 1443
      },
      {
        "file": "assets/images/brand-logo/brand-logo-3.png",
        "ctime": "2018-11-29T07:05:25.324Z",
        "mtime": "2018-11-29T01:05:20.000Z",
        "size": 1653
      },
      {
        "file": "assets/images/brand-logo/brand-logo-4.png",
        "ctime": "2018-11-29T07:05:25.324Z",
        "mtime": "2018-11-29T01:05:20.000Z",
        "size": 1640
      },
      {
        "file": "assets/images/brand-logo/brand-logo-5.png",
        "ctime": "2018-11-29T07:05:25.324Z",
        "mtime": "2018-11-29T01:05:20.000Z",
        "size": 1296
      },
      {
        "file": "assets/images/funfact/funfact-shape.png",
        "ctime": "2018-11-05T10:53:20.340Z",
        "mtime": "2018-11-05T10:52:19.787Z",
        "size": 9094
      },
      {
        "file": "assets/images/heroslider/heroslider-image-1.jpg",
        "ctime": "2018-11-29T06:39:44.917Z",
        "mtime": "2018-11-29T00:39:36.000Z",
        "size": 143901
      },
      {
        "file": "assets/images/heroslider/heroslider-image-2.jpg",
        "ctime": "2018-11-29T06:39:44.901Z",
        "mtime": "2018-11-29T00:39:36.000Z",
        "size": 164725
      },
      {
        "file": "assets/images/heroslider/heroslider-image-3.jpg",
        "ctime": "2018-11-29T06:39:44.901Z",
        "mtime": "2018-11-29T00:39:36.000Z",
        "size": 119670
      },
      {
        "file": "assets/images/heroslider/heroslider-shape-2.png",
        "ctime": "2018-11-12T04:58:58.711Z",
        "mtime": "2018-11-12T04:58:58.711Z",
        "size": 17675
      },
      {
        "file": "assets/images/heroslider/heroslider-shape.png",
        "ctime": "2018-11-12T04:56:41.580Z",
        "mtime": "2018-11-05T10:21:20.000Z",
        "size": 14381
      },
      {
        "file": "assets/images/icons/accordio-minus.png",
        "ctime": "2018-11-13T08:41:50.716Z",
        "mtime": "2018-11-13T08:40:53.682Z",
        "size": 1065
      },
      {
        "file": "assets/images/icons/accordio-plus.png",
        "ctime": "2018-11-13T08:40:44.554Z",
        "mtime": "2018-11-13T08:40:42.282Z",
        "size": 1124
      },
      {
        "file": "assets/images/icons/bg-map-shapes.png",
        "ctime": "2018-11-06T05:34:33.554Z",
        "mtime": "2018-11-06T05:33:40.547Z",
        "size": 58762
      },
      {
        "file": "assets/images/icons/down-caret.png",
        "ctime": "2018-11-19T10:40:29.372Z",
        "mtime": "2018-11-19T10:26:23.470Z",
        "size": 1073
      },
      {
        "file": "assets/images/icons/marker.png",
        "ctime": "2018-11-15T10:44:14.841Z",
        "mtime": "2018-11-15T10:22:45.847Z",
        "size": 827
      },
      {
        "file": "assets/images/icons/white-shape.png",
        "ctime": "2018-11-06T04:48:05.535Z",
        "mtime": "2018-11-06T04:47:53.555Z",
        "size": 4591599
      },
      {
        "file": "assets/images/logo/logo-dark.png",
        "ctime": "2018-11-04T10:01:10.773Z",
        "mtime": "2018-11-04T10:01:10.771Z",
        "size": 4085
      },
      {
        "file": "assets/images/logo/logo-light.png",
        "ctime": "2018-11-07T06:50:35.317Z",
        "mtime": "2018-11-07T06:50:09.967Z",
        "size": 4551
      },
      {
        "file": "assets/images/others/about-image.png",
        "ctime": "2018-11-29T06:59:12.383Z",
        "mtime": "2018-11-29T00:58:56.000Z",
        "size": 69829
      },
      {
        "file": "assets/images/others/author-image-1.png",
        "ctime": "2018-11-29T06:59:12.383Z",
        "mtime": "2018-11-29T00:58:56.000Z",
        "size": 14132
      },
      {
        "file": "assets/images/others/author-image-2.png",
        "ctime": "2018-11-29T06:59:12.361Z",
        "mtime": "2018-11-29T00:58:56.000Z",
        "size": 12946
      },
      {
        "file": "assets/images/others/faq-image.png",
        "ctime": "2018-11-29T06:59:12.361Z",
        "mtime": "2018-11-29T00:58:56.000Z",
        "size": 104557
      },
      {
        "file": "assets/images/others/feature-image.png",
        "ctime": "2018-11-29T06:59:12.367Z",
        "mtime": "2018-11-29T00:58:56.000Z",
        "size": 64169
      },
      {
        "file": "assets/images/others/promo-image-2.png",
        "ctime": "2018-11-29T06:59:12.367Z",
        "mtime": "2018-11-29T00:58:56.000Z",
        "size": 68844
      },
      {
        "file": "assets/images/others/promo-image.png",
        "ctime": "2018-11-29T06:59:12.367Z",
        "mtime": "2018-11-29T00:58:56.000Z",
        "size": 66613
      },
      {
        "file": "assets/images/others/service-details.jpg",
        "ctime": "2018-11-29T06:59:12.383Z",
        "mtime": "2018-11-29T00:58:56.000Z",
        "size": 35156
      },
      {
        "file": "assets/images/portfolio/portfolio-image-1.jpg",
        "ctime": "2018-11-29T07:01:52.258Z",
        "mtime": "2018-11-29T01:01:42.000Z",
        "size": 57141
      },
      {
        "file": "assets/images/portfolio/portfolio-image-2.jpg",
        "ctime": "2018-11-29T07:01:52.264Z",
        "mtime": "2018-11-29T01:01:42.000Z",
        "size": 52104
      },
      {
        "file": "assets/images/portfolio/portfolio-image-3.jpg",
        "ctime": "2018-11-29T07:01:52.270Z",
        "mtime": "2018-11-29T01:01:44.000Z",
        "size": 60133
      },
      {
        "file": "assets/images/portfolio/portfolio-image-4.jpg",
        "ctime": "2018-11-29T07:01:52.274Z",
        "mtime": "2018-11-29T01:01:44.000Z",
        "size": 52642
      },
      {
        "file": "assets/images/portfolio/portfolio-image-5.jpg",
        "ctime": "2018-11-29T07:01:52.282Z",
        "mtime": "2018-11-29T01:01:44.000Z",
        "size": 54548
      },
      {
        "file": "assets/images/portfolio/portfolio-image-6.jpg",
        "ctime": "2018-11-29T07:01:52.293Z",
        "mtime": "2018-11-29T01:01:44.000Z",
        "size": 28090
      },
      {
        "file": "assets/images/portfolio/portfolio-image-7.jpg",
        "ctime": "2018-11-29T07:01:52.298Z",
        "mtime": "2018-11-29T01:01:44.000Z",
        "size": 48194
      },
      {
        "file": "assets/images/portfolio/portfolio-image-8.jpg",
        "ctime": "2018-11-29T07:01:52.303Z",
        "mtime": "2018-11-29T01:01:44.000Z",
        "size": 50098
      },
      {
        "file": "assets/images/portfolio/portfolio-image-9.jpg",
        "ctime": "2018-11-29T07:01:52.308Z",
        "mtime": "2018-11-29T01:01:44.000Z",
        "size": 50011
      },
      {
        "file": "assets/images/product/product-image-1.jpg",
        "ctime": "2018-11-29T07:03:51.287Z",
        "mtime": "2018-11-29T01:03:40.000Z",
        "size": 7903
      },
      {
        "file": "assets/images/product/product-image-2.jpg",
        "ctime": "2018-11-29T07:03:51.304Z",
        "mtime": "2018-11-29T01:03:40.000Z",
        "size": 5214
      },
      {
        "file": "assets/images/product/product-image-3.jpg",
        "ctime": "2018-11-29T07:03:51.309Z",
        "mtime": "2018-11-29T01:03:40.000Z",
        "size": 17504
      },
      {
        "file": "assets/images/product/product-image-4.jpg",
        "ctime": "2018-11-29T07:03:51.316Z",
        "mtime": "2018-11-29T01:03:40.000Z",
        "size": 18297
      },
      {
        "file": "assets/images/product/product-image-5.jpg",
        "ctime": "2018-11-29T07:03:51.322Z",
        "mtime": "2018-11-29T01:03:40.000Z",
        "size": 8938
      },
      {
        "file": "assets/images/product/product-image-6.jpg",
        "ctime": "2018-11-29T07:03:51.328Z",
        "mtime": "2018-11-29T01:03:40.000Z",
        "size": 36687
      },
      {
        "file": "assets/images/product/product-image-7.jpg",
        "ctime": "2018-11-29T07:03:51.328Z",
        "mtime": "2018-11-29T01:03:40.000Z",
        "size": 28759
      },
      {
        "file": "assets/images/product/product-image-8.jpg",
        "ctime": "2018-11-29T07:03:51.328Z",
        "mtime": "2018-11-29T01:03:40.000Z",
        "size": 13928
      },
      {
        "file": "assets/images/product/product-image-9.jpg",
        "ctime": "2018-11-29T07:03:51.348Z",
        "mtime": "2018-11-29T01:03:40.000Z",
        "size": 23792
      },
      {
        "file": "assets/images/team/team-image-1.jpg",
        "ctime": "2018-11-29T07:04:37.980Z",
        "mtime": "2018-11-29T01:04:28.000Z",
        "size": 27234
      },
      {
        "file": "assets/images/team/team-image-2.jpg",
        "ctime": "2018-11-29T07:04:37.980Z",
        "mtime": "2018-11-29T01:04:28.000Z",
        "size": 27833
      },
      {
        "file": "assets/images/team/team-image-3.jpg",
        "ctime": "2018-11-29T07:04:37.980Z",
        "mtime": "2018-11-29T01:04:28.000Z",
        "size": 30825
      },
      {
        "file": "assets/images/team/team-image-4.jpg",
        "ctime": "2018-11-29T07:04:37.964Z",
        "mtime": "2018-11-29T01:04:28.000Z",
        "size": 49115
      },
      {
        "file": "assets/images/testimonial/testimonial-fullimage-1.jpg",
        "ctime": "2018-11-29T07:05:07.315Z",
        "mtime": "2018-11-29T01:05:02.000Z",
        "size": 31586
      },
      {
        "file": "assets/images/testimonial/testimonial-fullimage-2.jpg",
        "ctime": "2018-11-29T07:05:07.331Z",
        "mtime": "2018-11-29T01:05:02.000Z",
        "size": 20080
      },
      {
        "file": "assets/images/testimonial/testimonial-fullimage-3.jpg",
        "ctime": "2018-11-29T07:05:07.299Z",
        "mtime": "2018-11-29T01:05:02.000Z",
        "size": 15850
      },
      {
        "file": "assets/images/testimonial/testimonial-image-1.png",
        "ctime": "2018-11-29T07:05:07.315Z",
        "mtime": "2018-11-29T01:05:02.000Z",
        "size": 2819
      },
      {
        "file": "assets/images/testimonial/testimonial-image-2.png",
        "ctime": "2018-11-29T07:05:07.315Z",
        "mtime": "2018-11-29T01:05:02.000Z",
        "size": 2701
      },
      {
        "file": "assets/images/testimonial/testimonial-image-3.png",
        "ctime": "2018-11-29T07:05:07.315Z",
        "mtime": "2018-11-29T01:05:02.000Z",
        "size": 3055
      },
      {
        "file": "assets/images/blog/authors/author-image-1.png",
        "ctime": "2018-11-29T06:36:33.030Z",
        "mtime": "2018-11-29T00:36:08.000Z",
        "size": 6152
      },
      {
        "file": "assets/images/blog/authors/author-image-2.png",
        "ctime": "2018-11-29T06:36:33.030Z",
        "mtime": "2018-11-29T00:36:08.000Z",
        "size": 5511
      },
      {
        "file": "assets/images/blog/authors/author-image-3.png",
        "ctime": "2018-11-29T06:36:33.030Z",
        "mtime": "2018-11-29T00:36:10.000Z",
        "size": 5844
      },
      {
        "file": "assets/images/blog/blog2/blog2-image-1.jpg",
        "ctime": "2018-11-29T06:37:28.083Z",
        "mtime": "2018-11-29T00:37:20.000Z",
        "size": 185722
      },
      {
        "file": "assets/images/blog/blog2/blog2-image-2.jpg",
        "ctime": "2018-11-29T06:37:28.088Z",
        "mtime": "2018-11-29T00:37:20.000Z",
        "size": 170761
      },
      {
        "file": "assets/images/blog/blog2/blog2-image-3.jpg",
        "ctime": "2018-11-29T06:37:28.094Z",
        "mtime": "2018-11-29T00:37:20.000Z",
        "size": 177666
      },
      {
        "file": "assets/images/blog/blog2/blog2-image-4.jpg",
        "ctime": "2018-11-29T06:37:28.100Z",
        "mtime": "2018-11-29T00:37:20.000Z",
        "size": 221971
      },
      {
        "file": "assets/images/blog/blog2/blog2-image-5.jpg",
        "ctime": "2018-11-29T06:37:28.064Z",
        "mtime": "2018-11-29T00:37:18.000Z",
        "size": 265093
      },
      {
        "file": "assets/images/blog/blog2/blog2-image-6.jpg",
        "ctime": "2018-11-29T06:37:28.070Z",
        "mtime": "2018-11-29T00:37:20.000Z",
        "size": 241864
      },
      {
        "file": "assets/images/blog/blog2/blog2-image-7.jpg",
        "ctime": "2018-11-29T06:37:28.077Z",
        "mtime": "2018-11-29T00:37:20.000Z",
        "size": 241971
      },
      {
        "file": "assets/images/blog/widget/blog-thumbnail-1.png",
        "ctime": "2018-11-29T06:37:51.226Z",
        "mtime": "2018-11-29T00:37:42.000Z",
        "size": 7463
      },
      {
        "file": "assets/images/blog/widget/blog-thumbnail-2.png",
        "ctime": "2018-11-29T06:37:51.226Z",
        "mtime": "2018-11-29T00:37:44.000Z",
        "size": 7741
      },
      {
        "file": "assets/images/blog/widget/blog-thumbnail-3.png",
        "ctime": "2018-11-29T06:37:51.226Z",
        "mtime": "2018-11-29T00:37:44.000Z",
        "size": 7232
      },
      {
        "file": "assets/images/portfolio/lg/portfolio-image-lg-1.jpg",
        "ctime": "2018-11-29T07:00:43.844Z",
        "mtime": "2018-11-29T01:00:00.000Z",
        "size": 242546
      },
      {
        "file": "assets/images/portfolio/lg/portfolio-image-lg-2.jpg",
        "ctime": "2018-11-29T07:00:43.797Z",
        "mtime": "2018-11-29T00:59:58.000Z",
        "size": 134853
      },
      {
        "file": "assets/images/portfolio/lg/portfolio-image-lg-3.jpg",
        "ctime": "2018-11-29T07:00:43.813Z",
        "mtime": "2018-11-29T00:59:58.000Z",
        "size": 255025
      },
      {
        "file": "assets/images/portfolio/lg/portfolio-image-lg-4.jpg",
        "ctime": "2018-11-29T07:00:43.813Z",
        "mtime": "2018-11-29T00:59:58.000Z",
        "size": 192368
      },
      {
        "file": "assets/images/portfolio/lg/portfolio-image-lg-5.jpg",
        "ctime": "2018-11-29T07:00:43.828Z",
        "mtime": "2018-11-29T00:59:58.000Z",
        "size": 173549
      },
      {
        "file": "assets/images/portfolio/lg/portfolio-image-lg-6.jpg",
        "ctime": "2018-11-29T07:00:43.828Z",
        "mtime": "2018-11-29T00:59:58.000Z",
        "size": 70317
      },
      {
        "file": "assets/images/portfolio/lg/portfolio-image-lg-7.jpg",
        "ctime": "2018-11-29T07:00:43.828Z",
        "mtime": "2018-11-29T00:59:58.000Z",
        "size": 115998
      },
      {
        "file": "assets/images/portfolio/lg/portfolio-image-lg-8.jpg",
        "ctime": "2018-11-29T07:00:43.844Z",
        "mtime": "2018-11-29T00:59:58.000Z",
        "size": 137965
      },
      {
        "file": "assets/images/portfolio/lg/portfolio-image-lg-9.jpg",
        "ctime": "2018-11-29T07:00:43.844Z",
        "mtime": "2018-11-29T00:59:58.000Z",
        "size": 246826
      },
      {
        "file": "assets/images/product/thumbnails/product-thumbnail-1.png",
        "ctime": "2018-11-19T09:03:35.574Z",
        "mtime": "2018-11-19T09:03:12.031Z",
        "size": 3073
      },
      {
        "file": "assets/images/product/thumbnails/product-thumbnail-2.png",
        "ctime": "2018-11-19T09:03:40.262Z",
        "mtime": "2018-11-19T09:03:12.020Z",
        "size": 6869
      },
      {
        "file": "assets/images/product/thumbnails/product-thumbnail-3.png",
        "ctime": "2018-11-19T09:03:44.514Z",
        "mtime": "2018-11-19T09:03:12.008Z",
        "size": 5796
      },
      {
        "file": "blog-2-column-masonry.html",
        "ctime": "2018-11-29T06:26:03.765Z",
        "mtime": "2018-11-29T06:26:03.765Z",
        "size": 43154
      },
      {
        "file": "blog-3-column-masonry.html",
        "ctime": "2018-12-02T10:33:07.814Z",
        "mtime": "2018-12-02T10:33:07.814Z",
        "size": 49861
      },
      {
        "file": "blog-details-audio.html",
        "ctime": "2018-12-02T10:28:32.091Z",
        "mtime": "2018-12-02T10:28:32.091Z",
        "size": 42177
      },
      {
        "file": "blog-details-gallery.html",
        "ctime": "2018-11-29T06:26:03.831Z",
        "mtime": "2018-11-29T06:26:03.831Z",
        "size": 42009
      },
      {
        "file": "blog-details-leftsidebar.html",
        "ctime": "2018-11-29T10:27:53.242Z",
        "mtime": "2018-11-29T10:27:53.242Z",
        "size": 42499
      },
      {
        "file": "blog-details-nosidebar.html",
        "ctime": "2018-11-29T06:26:03.968Z",
        "mtime": "2018-11-29T06:26:03.968Z",
        "size": 34665
      },
      {
        "file": "blog-details-video.html",
        "ctime": "2018-11-29T07:33:03.538Z",
        "mtime": "2018-11-29T07:33:03.538Z",
        "size": 41493
      },
      {
        "file": "blog-details.html",
        "ctime": "2018-11-29T06:26:04.072Z",
        "mtime": "2018-11-29T06:26:04.072Z",
        "size": 41356
      },
      {
        "file": "blog-leftsidebar.html",
        "ctime": "2018-11-29T06:26:04.090Z",
        "mtime": "2018-11-29T06:26:04.090Z",
        "size": 46601
      },
      {
        "file": "blog-nosidebar.html",
        "ctime": "2018-11-29T06:26:04.114Z",
        "mtime": "2018-11-29T06:26:04.114Z",
        "size": 39515
      },
      {
        "file": "blog.html",
        "ctime": "2018-11-29T07:44:14.055Z",
        "mtime": "2018-11-29T07:44:14.055Z",
        "size": 46227
      },
      {
        "file": "contact-us.html",
        "ctime": "2018-12-02T10:22:31.434Z",
        "mtime": "2018-12-02T10:22:31.434Z",
        "size": 26488
      },
      {
        "file": "index-2.html",
        "ctime": "2018-12-02T10:22:44.975Z",
        "mtime": "2018-12-02T10:22:44.975Z",
        "size": 115653
      },
      {
        "file": "portfolio-details-gallery.html",
        "ctime": "2018-11-29T07:44:14.200Z",
        "mtime": "2018-11-29T07:44:14.200Z",
        "size": 27942
      },
      {
        "file": "portfolio-details-video.html",
        "ctime": "2018-11-29T06:26:04.436Z",
        "mtime": "2018-11-29T06:26:04.436Z",
        "size": 27031
      },
      {
        "file": "service-details.html",
        "ctime": "2018-11-29T06:26:04.591Z",
        "mtime": "2018-11-29T06:26:04.591Z",
        "size": 28615
      },
      {
        "file": "services.html",
        "ctime": "2018-11-29T10:27:53.523Z",
        "mtime": "2018-11-29T10:27:53.523Z",
        "size": 43563
      },
      {
        "file": "shop-3-column.html",
        "ctime": "2018-11-29T06:26:04.643Z",
        "mtime": "2018-11-29T06:26:04.643Z",
        "size": 50296
      },
      {
        "file": "shop-leftsidebar.html",
        "ctime": "2018-12-02T10:28:32.811Z",
        "mtime": "2018-12-02T10:28:32.811Z",
        "size": 59205
      },
      {
        "file": "shop.html",
        "ctime": "2018-12-02T10:13:46.730Z",
        "mtime": "2018-12-02T10:13:46.730Z",
        "size": 59214
      },
      {
        "file": "assets/images/product/product-details/prdoduct-details-image-1.jpg",
        "ctime": "2018-11-29T07:02:59.614Z",
        "mtime": "2018-11-29T01:02:32.000Z",
        "size": 12328
      },
      {
        "file": "assets/images/product/product-details/prdoduct-details-image-1-lg.jpg",
        "ctime": "2018-11-29T07:02:59.629Z",
        "mtime": "2018-11-29T01:02:32.000Z",
        "size": 18348
      },
      {
        "file": "assets/images/product/product-details/prdoduct-details-image-2-lg.jpg",
        "ctime": "2018-11-29T07:02:59.636Z",
        "mtime": "2018-11-29T01:02:32.000Z",
        "size": 45974
      },
      {
        "file": "assets/images/product/product-details/prdoduct-details-image-2.jpg",
        "ctime": "2018-11-29T07:02:59.636Z",
        "mtime": "2018-11-29T01:02:32.000Z",
        "size": 25158
      },
      {
        "file": "assets/images/product/product-details/prdoduct-details-image-3-lg.jpg",
        "ctime": "2018-11-29T07:02:59.651Z",
        "mtime": "2018-11-29T01:02:32.000Z",
        "size": 41547
      },
      {
        "file": "assets/images/product/product-details/prdoduct-details-image-4-lg.jpg",
        "ctime": "2018-11-29T07:02:59.667Z",
        "mtime": "2018-11-29T01:02:32.000Z",
        "size": 22625
      },
      {
        "file": "assets/images/product/product-details/prdoduct-details-image-4.jpg",
        "ctime": "2018-11-29T07:02:59.667Z",
        "mtime": "2018-11-29T01:02:32.000Z",
        "size": 11175
      },
      {
        "file": "assets/images/product/product-details/prdoduct-details-image-5.jpg",
        "ctime": "2018-11-29T07:02:59.667Z",
        "mtime": "2018-11-29T01:02:32.000Z",
        "size": 47115
      },
      {
        "file": "assets/images/product/product-details/prdoduct-details-image-5-lg.jpg",
        "ctime": "2018-11-29T07:02:59.683Z",
        "mtime": "2018-11-29T01:02:32.000Z",
        "size": 58936
      },
      {
        "file": "assets/images/product/product-details/prdoduct-details-image-6-lg.jpg",
        "ctime": "2018-11-29T07:02:59.698Z",
        "mtime": "2018-11-29T01:02:32.000Z",
        "size": 126332
      },
      {
        "file": "assets/images/product/product-details/prdoduct-details-image-6.jpg",
        "ctime": "2018-11-29T07:02:59.683Z",
        "mtime": "2018-11-29T01:02:32.000Z",
        "size": 88597
      },
      {
        "file": "assets/images/product/product-details/prdoduct-details-image-3.jpg",
        "ctime": "2018-11-29T07:02:59.651Z",
        "mtime": "2018-11-29T01:02:32.000Z",
        "size": 26210
      },
      {
        "file": "product-details-variable.html",
        "ctime": "2018-12-02T10:18:02.793Z",
        "mtime": "2018-12-02T10:18:02.793Z",
        "size": 63132
      },
      {
        "file": "product-details-nosidebar.html",
        "ctime": "2018-12-02T10:17:01.852Z",
        "mtime": "2018-12-02T10:17:01.852Z",
        "size": 54658
      },
      {
        "file": "cart.html",
        "ctime": "2018-11-29T06:26:04.158Z",
        "mtime": "2018-11-29T06:26:04.158Z",
        "size": 28604
      },
      {
        "file": "checkout.html",
        "ctime": "2018-11-29T09:32:16.103Z",
        "mtime": "2018-11-29T09:32:16.103Z",
        "size": 38759
      },
      {
        "file": "login-register.html",
        "ctime": "2018-11-29T06:26:04.345Z",
        "mtime": "2018-11-29T06:26:04.345Z",
        "size": 25168
      },
      {
        "file": "my-account.html",
        "ctime": "2018-11-29T09:32:15.535Z",
        "mtime": "2018-11-29T09:32:15.535Z",
        "size": 33360
      },
      {
        "file": "index-3.html",
        "ctime": "2018-12-02T10:13:43.518Z",
        "mtime": "2018-12-02T10:13:43.518Z",
        "size": 116974
      },
      {
        "file": "index-parallax.html",
        "ctime": "2018-12-02T10:19:02.309Z",
        "mtime": "2018-12-02T10:19:02.309Z",
        "size": 117214
      },
      {
        "file": "index-particle.html",
        "ctime": "2018-12-05T04:50:01.228Z",
        "mtime": "2018-12-05T04:50:01.228Z",
        "size": 115132
      },
      {
        "file": "assets/js/particle.min.js",
        "ctime": "2018-11-28T09:14:04.394Z",
        "mtime": "2018-11-28T09:14:04.394Z",
        "size": 23372
      },
      {
        "file": "index-videobg.html",
        "ctime": "2018-11-29T10:28:18.704Z",
        "mtime": "2018-11-29T10:28:18.704Z",
        "size": 115216
      },
      {
        "file": "assets/json/particles.json",
        "ctime": "2018-12-05T04:49:52.872Z",
        "mtime": "2018-12-05T04:49:52.872Z",
        "size": 2106
      },
      {
        "file": "assets/js/video-background.js",
        "ctime": "2018-11-28T10:41:20.171Z",
        "mtime": "2018-11-28T10:41:20.171Z",
        "size": 59399
      },
      {
        "file": "assets/php/mailer.php",
        "ctime": "2018-11-29T09:03:48.081Z",
        "mtime": "2018-11-29T09:03:48.081Z",
        "size": 2073
      },
      {
        "file": "assets/js/ajaxmail.js",
        "ctime": "2018-11-29T09:05:23.203Z",
        "mtime": "2018-11-29T09:05:23.203Z",
        "size": 1703
      },
      {
        "file": "assets/js/particle-active.js",
        "ctime": "2018-12-05T04:49:54.980Z",
        "mtime": "2018-12-05T04:49:54.980Z",
        "size": 2800
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}